
body {
  background-color: $lightbrown;
  background-size: cover;
  background-attachment: fixed;
}
.ribbon.alumni-ribbon::after{
  content: "Alumni Speak";
}
.ribbon img{
  content: url("../images/label-dark.png" );
}
.bg-container {
  @include flex-center;
}
.btn-pull-right {
  float: right;
  background: $maroon;
}
.alumni-text {
  text-align: justify;
}
.msg-box {
  border: 12px dashed $darkgrey;
  position: relative;
  border-image: url("../images/border_bg.png") 30 round;
  padding: 1rem;
  background: #dfc49c;
}
.line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: $darkgrey;
    left: 0;
  }
}
.header-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;

  img {
    aspect-ratio: 1;
    height: 100px;
    border-radius: 50%;
  }
}
.profile-pic {
  max-height: 150px;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .line::before {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .profile-pic {
    width: 110px;
    border-radius: 50%;
  }
}
