@import "./Theme";
body{
    background-color: $maroon !important;
}
.batch{
    display: flex;
    position: relative;
}
.figures{
    margin-bottom: 3rem;
}

.para{
    @include grid-center;
    color: $lightbrown;
    font-size: 1.1rem;
    text-align: justify;
    padding: 1rem 2rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .picture{
        width: 87%;
        margin: 0 1.8rem;
    }
    .para{
        font-size: 1.2rem;
    }
}
@media (min-width: 540px) and (max-width: 767px){
    .picture{
        width: 87%;
        margin: 0 1.8rem;
    }
    .para{
        font-size: 1.1rem;
        margin: 0 0.5rem;
    }
}
@media (min-width: 425px) and (max-width: 539px){
    .picture{
        width: 90%;
        margin: 0 1.4rem;
    }
    .para{
        font-size: 1.1rem;
        margin: 0 0.5rem;
    }
}
@media (min-width: 375px) and (max-width: 424px){
    .picture{
        width: 95%;
        margin: 0 0.5rem;
    }
    .para{
        font-size: 1.1rem;
        margin: 0 0.5rem;
    }
}
@media (min-width: 320px) and (max-width: 374px){
    .picture{
        width: 95%;
        margin: 0 0.5rem;
    }
    .para{
        padding: 1rem;
        font-size: 1.1rem;
        margin: 0 0.5rem;
    }
}