
body {
  background: $maroon;
  height: max-content;
  min-width: 100vw;
  overflow-x: hidden;
  font-family: "Source Serif Pro", serif !important;
}
.ribbon.foreword-ribbon::after{
  content: "Foreword";
  color: $maroon;
}
.ribbon img{
  content: url("../images/label-light.png" );
}
.foreword-header {
  padding: 1rem;

  .foreword-img-wrap {
    width: 70%;

    &::before {
      content: "";
      height: 100vh !important;
      top: 0;
      width: 8rem;
      background: #ddc8a7;
      position: fixed;
      z-index: -1;
    }
    &::after {
      content: "";
      height: 8rem;
      left: 0;
      width: 100vw;
      background: #ddc8a7;
      position: absolute;
      z-index: -1;
    }
  }
  img {
    border: 1rem solid $white;
    width: inherit;
  }
}
.foreword-name {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h3,
  h4 {
    color: $maroon;
    font-style: italic;
    font-weight: 900;
  }
  h4 {
    opacity: 0.7;
  }
}
.foreword-para {
  padding: 0 1rem;
  text-align: justify;
  color: $lightbrown;
}

@media only screen and (max-width: 1024px) {
  .foreword-img-wrap {
    width: 80% !important;

    &::before {
      width: 6rem !important;
      height: 130vh !important;
    }
    &::after {
      height: 6rem !important;
    }
  }
}
@media only screen and (max-width: 768px) {
  .foreword-img-wrap {
    width: 80% !important;

    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
  .foreword-container {
    background: #ddc8a7;
  }
  .foreword-name {
    align-items: center;
    padding: 1rem;
  }
}

@media only screen and (min-width: 768px){
  .foreword-para {
    padding: 0 3rem 0 0;
    text-align: justify;
  }
}
