.header-tab {
  background-color: $cream !important;
}
.header-tab p {
  font-family: "Berkshire Swash";
  color: $maroon;
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  padding-top: 0.5rem;
}
.nav-item a {
  text-decoration: none;
}
.header-nav {
  padding-top: 0.4rem;
  display: flex;
  justify-content: center;
  background-color: $cream;
}
.nav-link {
  color: black !important;
  font-family: "Source Serif Pro" !important;
  font-size: 1.3rem;
  font-weight: 400;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: $cream !important;
  background-color: $maroon !important;
}
.hamburger-menu,
.cross-menu,
.hamburger-menu-light,
.cross-menu-light {
  position: absolute;
  top: 7rem;
  display: none;
  margin-left: 1rem;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $cream;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  font-family: "Source Serif Pro" !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color: $maroon;
}
.show {
  display: block;
}
hr {
  height: 3px !important;
  color: $black !important;
  border-style: solid !important;
}
@media (max-width: 1059px) {
  .header-nav {
    display: none;
  }
  #bottom {
    display: none;
  }
  .header-nav ul {
    flex-direction: column;
  }
  .hamburger-menu {
    display: inline-block;
  }
  #myDropdown {
    position: absolute;
    left: 97%;
    top: -5%;
  }
}
@media (min-width: 525px) and (max-width: 1059px) {
  .hamburger-menu,
  .cross-menu {
    top: 1.8rem;
  }
}
@media (min-width: 461px) and (max-width: 540px) {
  .hamburger-menu,
  .cross-menu {
    left: -0.5rem;
  }
}
@media (min-width: 461px) and (max-width: 540px) {
  .container p {
    margin: 0 2rem;
    padding-bottom: 0.2rem;
  }
}
@media (min-width: 941px) and (max-width: 1059px) {
  .header-nav {
    transform: translate(-38%, 0);
  }
}
@media (min-width: 701px) and (max-width: 940px) {
  .header-nav {
    transform: translate(-35%, 0);
  }
}
@media (min-width: 501px) and (max-width: 700px) {
  .header-nav {
    transform: translate(-30%, 0);
  }
}
@media (min-width: 375px) and (max-width: 500px) {
  .header-nav {
    transform: translate(-20%, 0);
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  html {
    overflow-x: hidden;
  }
  .header-nav li {
    font-size: 0.9rem;
  }
  .header-nav {
    transform: translate(-20%, 0);
  }
  #myDropdown {
    left: 94%;
  }
  #myDropdown a {
    padding-right: 0 !important;
  }
}
