
body{
    background-color: $maroon !important;
}
.ribbon.stories-ribbon::after{
    content: "Mini Stories";
    color: $maroon;
}
.ribbon img{
    content: url("../images/label-light.png" );
}
.stories{
    display: flex;
    position: relative;
}
.story{
    @include flex-center-relative;
    margin-bottom: 5rem;
}
.click{
    width: 100% !important;
    height: 181px !important;
    margin: 1rem 1rem;
}

.story::after{
    width: 80%;
    height: 2rem;
    font-family: "Source Serif Pro";
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
    color: $maroon;
    background-color: $lightbrown;
    position: absolute;
    padding: 0rem 0;
    top: 98%;
    display: grid;
    place-items: center;
}
.story.aman-sir::after{
    content: "Mr. Amantali Pathan";
}
.story.khan-sir::after{
    content: "Mr. Shamsudin Khan";
}
.story.amrita-maam::after{
    content: "Ms. Amrita Mathur"
}
.story.monika-maam::after{
    content: "Ms. Monika Pal"
}
.story.savita-maam::after{
    content: "Ms. Savita Kulkarni";
}
.story.seema-vrishali-maam::after{
    content: "Ms. Seema Jadhav & Ms. Vrishali Jadhav";
}
.story.josna-maam::after{
    content: "Ms. Josna Jones";
}
.story.bysani-sir::after{
    content: "Mr. Bysani Malakondaiah";
}
.story.khalap-sir::after{
    content: "Mr. D.V. Khalap";
}
.story.harish-sir::after{
    content: "Mr. Harish Arekar";
}
.story.sainath-sir::after{
    content: "Mr. Sainath Ghosalkar";
}
.story video{
    border-radius: 25px;
}
.end-left{
    margin-left: 10rem;
}
.end-right{
    margin-right: 10rem;
}
@media (max-width: 991px){
    .end-left{
        margin-left: 0;
    }
    .end-right{
        margin-right: 0;
    }
}
@media (min-width: 1200px) and (max-width: 1399px){
    .story::after{
        font-size: 1rem;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .story::after{
        font-size: 0.95rem;
        width: 80%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .story::after{
        height: 1.5rem;
        font-size: 1rem;
        width: 80%;
    }
}
@media (min-width: 425px) and (max-width: 767px){
    .story::after{
        height: 1.5rem;
        font-size: 1rem;
        width: 75%;
    }
    .story{
        margin-bottom: 4rem;
    }
}
@media (min-width: 375px) and (max-width: 424px){
    .story::after{
        height: 1.5rem;
        font-size: 1rem;
        width: 75%;
    }
    .story{
        margin-bottom: 4rem;
    }
}
@media (min-width: 320px) and (max-width: 374px){
    .story::after{
        height: 1.5rem;
        font-size: 0.9rem;
        width: 80%;
    }
    .story{
        margin-bottom: 4rem;
    }
}