@import "./theme";

body {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
  background: #f2eadf;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*---- TOP TIMELINE NAVBAR  ----*/
.sticky-wrap {
  position: fixed;
  width: 100%;
  background: #000;
  top: 0;
  z-index: 9999;
}
.timeline {
  display: block;
  height: 96px;
}

.scroller {
  display: flex;
  overflow: hidden;
  /*width: 100%;*/
  transition: 0.7s;
  padding-bottom: 5px;
  margin-left: 0;
}
.item {
  text-decoration: none;
  position: relative;
  text-align: center;
  padding: 20px 40px;

  &::before {
    content: "";
    height: 2px;
    width: 100%;
    background: $white;
    position: absolute;
    margin-left: -50%;
    top: 90%;
    z-index: 2;
  }
  &:nth-child(2)::before {
    width: 50%;
    margin-left: 0;
  }
  &:hover .year {
    color: $white;
  }
}
.year {
  color: #8d8d8d;
}
.link {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: $white;
  position: absolute;
  margin-left: 10px;
  top: 85%;
}
.active {
  .link::after {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid $white;
    top: -3px;
    left: calc(-50% + 2px);
  }
  .year {
    color: #fff;
  }
}

.marker {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid $white;
  top: 53%;
  left: 49px;
  display: none;
}

/*-----------------------------------------
YEAR SECTIONS
-----------------------------------------*/
.year-title {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: 8rem;
  color: $maroon;
  font-weight: bolder;
  padding: 1rem;

  img {
    max-height: 80%;
  }
}
.time-section {
  @extend .pos-rel;
  display: grid;
  place-items: center;
  min-height: 80vh;
  overflow: hidden;
  padding: 96px 0 96px 0;

  &:nth-child(1) {
    margin-top: 96px;
  }

  &::before {
    content: "";
    width: 1px;
    height: 100%;
    background: $maroon;
    position: absolute;
  }
}

.circle-marker {
  content: "";
  width: 20px;
  height: 20px;
  background: $maroon;
  position: absolute;
  border-radius: 50%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border: 1px solid $maroon;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    animation: blink 1.4s linear infinite;
  }

  &::after {
    animation-delay: 0.7s;
  }
}

.year-span {
  color: $maroon;
  font-weight: bolder;
  padding: 0.8rem 0;
  font-size: 1.3rem;
}
.year-section-header {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 1rem;
  word-spacing: 100vw;

  &::after {
    content: "";
    height: 4px;
    width: 15%;
    background: $maroon;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.year-section-info {
  font-size: 1rem;
  padding: 1rem 0;
  text-align: justify;
}
.info-wrap {
  padding: 0rem 1.5rem;
}

/*----------Media QUERIES------------*/
@media only screen and (max-width: 767px) {
  .timeline-wrap {
    position: relative;
  }
  .time-section {
    /*display: flex;
    width: 100vw !important;
    z-index: -1;*/

    &::before {
      left: 5%;
    }
  }

  .circle-marker {
    left: calc(5% - 10px);
  }
  .info-wrap {
    padding: 0rem 4rem !important;
  }
  .year-section-header {
    font-size: 2rem;
  }
  .year-section-info {
    font-size: 0.8rem;
  }
  .year-title {
    font-size: 5rem;
  }
  .container {
    padding: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .year-title img {
    max-height: 100%;
  }
}

/*-------KEY FRAMES ---*/
@keyframes blink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
